#background {
  background-image: url("images/bg.png");
  width: 1920px;
  height: 1280px;
}

.runner {
  border: 10px solid red;
}

#runner3 {
  /* TODO: implement me */
  position: relative;
  bottom: 131px;
  right: 440px;
}

#runner2 {
  /* TODO: implement me */
  position: absolute;
  top: 315px;
  left: 407px;
}

#runner1 {
  /* TODO: implement me */
  /* position: absolute;
  top: 267px;
  left: 1178px; */
}
